193-238-134-75.sslip.io {
	encode gzip

	@websocket {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	handle @websocket {
		reverse_proxy server:2567
	}

	handle /matchmake/* {
		reverse_proxy server:2567
	}
	handle /auth/* {
		reverse_proxy server:2567
	}
	handle /health {
		reverse_proxy server:2567
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
